*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.contenedorflex{
    width: 100vw;
    height: 100vh;
    background-color: black ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-size: xx-large;
    

}

.cajaFlex {
    background-color : yellow;
    width: 100px;
    height: 100px;
    margin: 10px;
      
}